{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.0"
        }
      }
    ],
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    "lodash"
  ]
}
